body {
     margin-top: 150px;
  background-color: #000;
 }
 /*движение восьмиугольго паралелепипеда*/
@-moz-keyframes rotation-octa {
 from {
    -moz-transform: rotateY(0deg) translateX(400px) rotateX(0deg) ;
  }
  to{
    -moz-transform: rotateY(360deg) translateX(400px) rotateX(720deg) ;
  }
}

@-webkit-keyframes rotation-octa {
 from {
     -webkit-transform: rotateY(0deg) translateX(400px) rotateX(0deg) ;
  }
  to{
     -webkit-transform: rotateY(360deg) translateX(400px) rotateX(720deg) ;
  }
}

@-ms-keyframes rotation-octa {
 from {
    -ms-transform: rotateY(0deg) translateX(400px) rotateX(0deg) ;
  }
  to{
    -ms-transform: rotateY(360deg) translateX(400px) rotateX(720deg) ;
  }
}

@keyframes rotation-octa {
 from {
    transform: rotateY(0deg) translateX(400px) rotateX(0deg) ;
  }
  to{
    transform: rotateY(360deg) translateX(400px) rotateX(720deg) ;
  }
}


/*движение куба*/
@-moz-keyframes  rotation-cube {
  from {
    -moz-transform:  rotatey(0deg) ;
  }
  to{
    -moz-transform: rotatey(360deg) ;
  }
}

@-webkit-keyframes rotation-cube {
  from {
    -webkit-transform:  rotatey(0deg) ;
  }
  to{
    -webkit-transform: rotatey(360deg) ;
  }
}


@-ms-keyframes rotation-cube {
 from {
    -ms-transform:  rotatey(0deg) ;
  }
  to{
    -ms-transform: rotatey(360deg) ;
  }
}

@keyframes rotation-cube {
 from {
    transform:  rotatey(0deg) ;
  }
  to{
    transform: rotatey(360deg) ;
  }
}

 #container {
  -webkit-perspective : 1500px;
  -moz-perspective : 1500px;
  -ms-perspective : 1500px;
  perspective: 1500px;

  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.animate-octa  {
  -webkit-animation : rotation-octa 10s infinite linear;
  -moz-animation: rotation-octa 10s infinite linear;
  -ms-animation: rotation-octa 10s infinite linear;
  animation: rotation-octa 10s infinite linear;

}

.animate-cube {
  -webkit-animation : rotation-cube 10s infinite linear;
  -moz-animation: rotation-cube 10s infinite linear;
  -ms-animation: rotation-cube 10s infinite linear;
  animation: rotation-cube 10s infinite linear;
}

/*Куб*/
#cube {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 190px;
  width: 190px;
  padding: 0px;
  opacity: 0.9;
  background-position:center center;
}

#cube div:nth-child(1) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  transform : translateZ(100px);
  background-color: red;
  border: 5px solid orange;
}

#cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  background-color: orange;
  border: 5px solid yellow;
}

#cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
  background-color: yellow;
  border: 5px solid green;
}

#cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  background-color: green;
  border: 5px solid blue;
}

#cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  -ms-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  background-color  : blue;
  border: 5px solid darkviolet;
}

#cube div:nth-child(6)  {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  background-color: darkviolet;
  border: 5px solid red;
}

#octagonal {
  position: relative;
  top:200px;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#octagonal>div {
  position: absolute;
  height: 84px;
  width: 200px;
  padding: 0px;
  background-position:center center;
}

/*Восьмиугольник1*/
div#octagon1 {
  
  width: 200px;
  height: 84px;
  top: 58px;
  background: #BDB76B;
  position: relative;
  opacity: 0.5;
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
 
#octagon1:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;    
  border-bottom: 58px solid #BDB76B;
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  height: 0;
  width: 84px;
}
 
#octagon1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;    
  border-top: 58px solid #BDB76B;
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  height: 0;
  width: 84px;
}

/*Восьмиугольник2*/
div#octagon2 {
  position: relative;
  top:-25px;
  width: 200px;
  height: 84px;
  background: #BDB76B;
  opacity:0.5;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
 
#octagon2:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;    
  border-bottom: 58px solid #BDB76B;
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  height: 0;
  width: 84px;
}
 
#octagon2:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;    
  border-top: 58px solid #BDB76B;
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  height: 0;
  width: 84px;
}

/*Грани восьмиугольго паралелепипеда*/
#octagonal div:nth-of-type(even){
height: 82px;
}

#octagonal div:nth-child(1) {
  -webkit-transform: translateZ(100px) translateY(58px);
  -moz-transform: translateZ(100px) translateY(58px);
  -ms-transform: translateZ(100px) translateY(58px);
  transform: translateZ(100px) translateY(58px);
  background-color: red;
}

#octagonal div:nth-child(2) {
  -webkit-transform: rotateX(45deg) translateZ(58px) translateY(42px);
  -moz-transform: rotateX(45deg) translateZ(58px) translateY(42px);
  -ms-transform: rotateX(45deg) translateZ(58px) translateY(42px);
  transform: rotateX(45deg) translateZ(58px) translateY(42px);
  background-color: orange;
}

#octagonal div:nth-child(3) {
  -webkit-transform: rotateX(90deg) translateZ(41px);
  -moz-transform: rotateX(90deg) translateZ(41px);
  -ms-transform: rotateX(90deg) translateZ(41px);
  transform: rotateX(90deg) translateZ(41px);
  background-color: yellow;
}

#octagonal div:nth-child(4) {
  -webkit-transform: rotateX(-45deg) translateZ(-58px) translateY(42px);
  -moz-transform: rotateX(-45deg) translateZ(-58px) translateY(42px);
  -ms-transform: rotateX(-45deg) translateZ(-58px) translateY(42px);
  transform: rotateX(-45deg) translateZ(-58px) translateY(42px);
  background-color: green;
}

#octagonal div:nth-child(5) {
  -webkit-transform: translateZ(-100px) translateY(58px);
  -moz-transform: translateZ(-100px) translateY(58px);
  -ms-transform: translateZ(-100px) translateY(58px);
  transform: translateZ(-100px) translateY(58px);
  background-color: #00FA9A;
}

#octagonal div:nth-child(6)  {
  -webkit-transform: rotateX(45deg) translateZ(-142px) translateY(41px);
  -moz-transform: rotateX(45deg) translateZ(-142px) translateY(41px);
  -ms-transform: rotateX(45deg) translateZ(-142px) translateY(41px);
  transform: rotateX(45deg) translateZ(-142px) translateY(41px);
  background-color: cyan;
}

#octagonal div:nth-child(7)  {
  -webkit-transform: rotateX(90deg) translateZ(-158px);
  -moz-transform: rotateX(90deg) translateZ(-158px);
  -ms-transform: rotateX(90deg) translateZ(-158px);
  transform: rotateX(90deg) translateZ(-158px);
  background-color: blue;
}
#octagonal div:nth-child(8)  {
  -webkit-transform: rotateX(-45deg) translateZ(142px) translateY(41px);
  -moz-transform: rotateX(-45deg) translateZ(142px) translateY(41px);
  -ms-transform: rotateX(-45deg) translateZ(142px) translateY(41px);
  transform: rotateX(-45deg) translateZ(142px) translateY(41px);
  background-color: #4B0082;
}